
@{
    ViewBag.Title = "Home Page";
}

      <div class="jumbotron">
        <h2 class="hTop">Welcome to Live-Stock, the farm management tool </h2>
          <p>Keep track of animals on your farm, treatments, medicines used,expected birth dates and relationships</p>
      </div>
