<div class="jumbotron">
  <h2>Welcome to Live-Stock, the farm management system</h2>
  <p style="float:left;">Easily keep track of all events on your farm with Live-Stock</p>
              <img src="~/Images/SiteImages/Logo.jpg" style="float:right;" width="170px" height="150px" />
                <br style="clear: both;" />

</div>